<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration>

    <appender name="CONSOLE.ERR" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{dd/MM/yyyy HH:mm:ss,SSS}] %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="warn"/>
            <param name="LevelMax" value="fatal"/>
            <param name="AcceptOnMatch" value="false"/>
        </filter>
    </appender>

    <appender name="CONSOLE.OUT" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{dd/MM/yyyy HH:mm:ss,SSS}] %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="trace"/>
            <param name="LevelMax" value="info"/>
            <param name="AcceptOnMatch" value="false"/>
        </filter>
    </appender>




 

    <logger name="com.abada" >
        <level value="trace"/>
        <appender-ref ref="CONSOLE.OUT"/>
    </logger>
    <root>
        <level value="INFO" class="org.apache.log4j.Level" />
        <appender-ref ref="CONSOLE.ERR"/>

    </root>

    <!-- <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="ImmediateFlush" value="true" />
        <param name="File" value="log.txt" />
        <param name="Append" value="true" />
        <param name="Threshold" value="DEBUG" />
        <param name="MaxFileSize" value="10000KB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{dd/MM/yyyy HH:mm:ss,SSS}] %l - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE2" class="org.apache.log4j.RollingFileAppender">
        <param name="ImmediateFlush" value="true" />
        <param name="File" value="log2.txt" />
        <param name="Append" value="false" />
        <param name="MaxFileSize" value="10000KB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p %d{dd/MM/yyyy HH:mm:ss,SSS}] %l - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="trace"/>
            <param name="LevelMax" value="trace"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <logger name="com.abada" >
        <level value="trace"/>
        <appender-ref ref="CONSOLE.OUT"/>
        <appender-ref ref="FILE"/>
    </logger>
    <root>
        <priority value="WARN"></priority>
        <appender-ref ref="CONSOLE.ERR"/>-->
        <!--<appender-ref ref="FILE"/>-->
    <!--</root> -->

</log4j:configuration>

